<div id="<%= dom_id chatroom %>" class="index-container">
  <p class="index-item">
    <strong>Owner:</strong>
    <%= chatroom.owner_id %>
  </p>

  <p class="index-item">
    <strong>Partner:</strong>
    <%= chatroom.partner_id %>
  </p>

  <p class="index-item">
    <strong>Title:</strong>
    <%= chatroom.title %>
  </p>

</div>
