
<div class="wrapper">
  <div class="title">Editing chatroom</div>

  <%= render "form", chatroom: @chatroom %>

  <br>

  <div>
    <%= link_to "Show this chatroom", @chatroom, class: "button"%>
    <%= link_to "Back to chatrooms", chatrooms_path, class: "button" %>
  </div>
</div>