<div class="wrapper">
  <div class="title">New chatroom</div>

  <%= render "form", chatroom: @chatroom, class: 'form-line' %>

  <br>

  <div>
    <%= link_to "Back to chatrooms", chatrooms_path, class: "button" %>
  </div>
</div>