<div class="wrapper">
  <div class="title">New chatroom</div>

  <%= render "form", chatroom: @chatroom, class: 'form-line' %>

  <br>

  <div class="back-chatroom">
    <%= link_to "Back".html_safe, chatrooms_path, class: "back-chatroom-button" %>
  </div>
</div>