$base-color: rgb(250, 136, 205);
$item-color: gray;
$button-color: white;
$form-color: rgb(237, 236, 236);

.button {
  display: inline-block;
  padding: 14px 25px;
  background-color: $base-color;
  text-decoration: none;
  border-radius: 6px;
  transition: .3s;
  color: $button-color;

  &:hover {
    opacity: 0.6;
  }
}

.button-with-icon {
  background: none;
  float: right;
  margin-top: -25px;
  right: 188px;
  border: none;
  cursor: pointer;
  position: fixed;
  width: 50%;
  z-index: 99999;

  ion-icon {
    position: relative;
    top: 45px;
    width: 20px;
    height: 28px;
    color: $item-color;
  }
}

.button-edit {
  background: none;
  float: right;
  margin-top: -25px;
  right: 144px;
  border: none;
  cursor: pointer;
  position: fixed;
  width: 50%;
  z-index: 99999;

  ion-icon {
    position: relative;
    top: 45px;
    width: 20px;
    height: 28px;
    color: $item-color;
  }
}

.button-back {
  background: none;
  float: right;
  margin-top: -24px;
  right: 102px;
  border: none;
  cursor: pointer;
  position: fixed;
  width: 50%;
  z-index: 99999;

  ion-icon {
    position: relative;
    top: 45px;
    width: 20px;
    height: 28px;
    color: $item-color;
  }
}

.button-sending {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  ion-icon {
    width: 24px;
    height: 38px;
    margin-left: 220px;
    color: $item-color;
    display: block;
    position: fixed;
    bottom: 20px;
    z-index: 998;
  }
}

.chatroom-create-button {
  display: inline-flex;
  align-items: center;
  padding: 5px 15px 5px 22px;
  margin-top: 28px;
  background-color: $base-color;
  border-radius: 6px;
  transition: .3s;
  border: none;
  cursor: pointer;

  & p {
    color: white;
    padding-top: 0;
    margin-right: 6px;
  }

  ion-icon {
    display: flex;
    width: 30px;
    height: 34px;
    color: white;
  }

  &:hover {
    opacity: 0.6;
  }
}

.back-chatroom {
  display: flex;
  justify-content: flex-start;
}

.back-chatroom-button {
  display: inline-block;
  padding: 22px 18px;
  background-color: $form-color;
  text-decoration: none;
  border-radius: 999px;
  transition: .3s;
  line-height: 1;
  font-size: 13px;
  color: $item-color;
  margin-left: 83px;
  margin-top: -5px;

  &:hover {
    opacity: 0.6;
  }
}